/Project1_ShoppingSystem/Debug/
/Project1_ShoppingSystem/Project1_ShoppingSystem.sln
/Project1_ShoppingSystem/Project1_ShoppingSystem/Debug/
/Project1_ShoppingSystem/Project1_ShoppingSystem/*.vcxproj
/Project1_ShoppingSystem/Project1_ShoppingSystem/*.vcxproj.*
